on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Version'
        required: true
        type: string
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.13"
      - name: Bundle
        run:
          # XXX: uv build fails for some reason
          uv tool run hatch build --target wheel
      - name: Create GitHub Release
        env:
          TAG: ${{ github.ref_name }}
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${TAG} \
            --title "yt-dlp-ejs ${TAG}" \
            --notes-from-tag \
            --verify-tag \
            dist/yt.solver.* \
            dist/yt_dlp_ejs*.whl
